@import "imports";

.product-page {
  display: flex;
  justify-content: space-between;
  margin-top: 59px;

}

.sidebar {
  width: 243px;
}

.sideblock {
  >div {
    &:first-child {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      border-bottom: 1px solid $shoppingBorder;
      border-left: 5px solid #ef5b70;
      @include size(37px, 232px);
      padding-top: 12px;
      padding-left: 11px;
      padding-right: 6px;
      margin-top: 18px;
    }
  }
}

.side-drop {
  margin-top: 12px;
  margin-left: 12px;
  display: none;
  a {
    display: block;
    color: $sideLinks;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
  }
}
.sidebutton i:last-child{
  display: none;
}
.product-content {
  max-width: 845px;
  box-sizing: border-box;
}

.user-choise {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;

  & > div {
    & > div:first-child {
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    a {
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;

      &:hover {
        color: $pink;
      }

      &:not(:last-child) {
        border-right: 1px solid #dfdfdf;
        padding-right: 10px;
        margin-right: 5px;
      }
    }
  }
}
.trending{
  width: 236px;
}
.size {
  .usercheck {
    width: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  & > div:not(:first-child) {
    display: flex;

    input + label {
      /* Style for "XXS" */
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
    }

    label {
      &:hover {
        color: $pink;
        cursor: pointer;
      }
    }

    input {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.price{
  width: 262px;
}
.product-sort {
  @include size(50px, 100%);
  background-color: #f3f3f3;
  margin-top: 41px;
  display: flex;

  form {
    margin-top: 10px;
    margin-left: 10px;

    button {
      border: none;
      @include size(30px, 66px);
      background-color: $white;
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
    }

    select {
      cursor: pointer;
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 400;
      border: none;
      margin-left: -1px;
      outline: none;
      @include size(30px, 86px);
    }
  }
}

.f-items {
  max-width: 845px;
  margin: 0;
  padding: 0;

  > .container {
    h2 {
      color: $black-words;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 0.75px;
      text-align: center;
      margin: 0;
    }

    > p {
      color: #9f9f9f;
      font-size: 14px;
      font-weight: 400;
      /* Text style for "S, hop for" */
      letter-spacing: 0.35px;
      text-align: center;
      margin-top: 16px;
      display: block;
    }
  }
}

.f-blocks {
  flex-wrap: wrap;
  @include block-position(space-between, space-between);
}

.f-content {
  margin-top: 59px;
  position: relative;

  >a>img {
    @include size(279px, 261px);
    background-color: #e9e9e9;
  }
}

.f-textbox a {
  display: block;
  padding-top: 15px;
  margin-top: -15px;
  @include size(70px, 100%);
  text-decoration: none;

  > p {
    &:first-child {
      color: $black-words;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &:last-child {
      color: $pink;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.f-content:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.shadow {
  @include size(354px, 261px);
  position: absolute;
  top: 0px;
  opacity: 0;
  z-index: 2;

  &:hover {
    opacity: 0.85;
  }

  a {
    display: block;
    @include size(354px, 261px);
  }

  button {
    @include size(39px, 123px);
    border: 1px solid $white;
    color: $white;
    font-size: 13px;
    font-weight: 400;
    background-color: #3a3838;
    vertical-align: middle;
    margin-top: 98px;
    margin-left: 70px;
    position: relative;
  }

  img {
    @include size(22px, 23px);
    position: absolute;
    top: 10px;
    left: 12px;
  }

  p {
    margin-left: 28px;
  }
}

.shadow_box {
  background-color: #3a3838;
  @include size(279px, 261px);
}
.main-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
  .page-list {
    @include size(44px, 261px);
    border-radius: 3px;
    border: 1px solid $shoppingBorder;
    background-color: $white;
    @include block-position(center, center);

    a {
      &:not(:first-child) {
        margin-left: 16px;
      }

      &:nth-child(2) {
        color: $pink;
      }

      &:hover {
        color: $pink;
      }

      color: #c4c4c4;
      font-size: 16px;
      font-weight: bold;
      line-height: 26px;
    }

    p {
      color: #c4c4c4;
      font-size: 16px;
      margin-right: -16px;
    }
  }
  button{
    background-color: $white;
    border: 1px solid $pink;
    color: $pink;
    @include size(44px, 150px);
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
      @include hover($white);
    }
  }
}
.offer-blocks{
  padding-top: 89px;
  padding-bottom: 114px;
  margin-top: 110px;
  margin-bottom: -100px;
  .container{
    display: flex;
    justify-content: space-between;
  }
  background-color: $black-words;
  .offer-content{
    width: 309px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .content-textbox{
      text-align: center;
      h3{
        color: #fbfbfb;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
      }
      p{
        color: #fbfbfb;
        font-size: 14px;
        font-weight: 300;
        line-height: 23.95px;
        letter-spacing: 0.35px;
      };
    }
  }
}