Options -Indexes
RewriteEngine on
RewriteBase /
RewriteRule ^api/((?!index\.php$).+)$ api/public/index.php [L,NC]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

ErrorDocument 404 /index.html





